details {
  user-select: none;
  text-align: center;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  display:inline-block;
  font-weight: bold;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}
